body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(92, 160, 221);
}
b#name {
    color: rgb(255, 0 , 0);
}
h7#time {
    color: rgb(0, 0, 255);
}
p#copyright {
    color: rgb(255, 0, 0);
}
p#version {
    color: rgb(13, 13, 216);
}
b#ukono {
    color: rgb(255, 0, 0);
}
b#konono {
    color: rgb(13, 13, 216);
}

/* viet boi kudovisual *\